node_modules/
package-lock.json
*.vsix
.DS_Store
.vscode-test/
test/
*.tgz
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
.nyc_output/
dist/
build/
.cache/
themes
temp/
tmp/